body {
  background-color: #eaebf1;
  color: #424567;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

document, window, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}
